<section class="section-about-us" id="section-about">
  <div class="container">
    <div class="about-us-top">
      <div class="about-us-content">
        <h2 id="about-us-section" class="about-header">
          YachtJet fleet is here to take you on the ultimate adventure
        </h2>
        <div class="about-us-wrapper">
          <p class="about-us-bold-text">
            From spacious decks to state-of-the-art technology, our yachts are
            designed to provide the perfect blend of luxury and functionality.
          </p>
          <p class="about-us-text">
            Take a look at our selection below and choose the yacht that matches
            your needs and preferences. No matter which yacht you choose, our
            experienced crew will ensure that your journey is smooth and
            enjoyable. Book now and get ready for an unforgettable adventure on
            the high seas.
          </p>
        </div>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./img/section-about-us/about-mobile.webp    1x,
          ./img/section-about-us/about-mobile@2x.webp 2x
        "
        media="(max-width: 768px)"
        width="335"
        height="395"
      />
      <source
        srcset="
          ./img/section-about-us/about-tablet.webp    1x,
          ./img/section-about-us/about-tablet@2x.webp 2x
        "
        media="(min-width: 768px) and (max-width: 1280px)"
        width="704"
        height="470"
      />
      <source
        srcset="
          ./img/section-about-us/about-desktop.webp    1x,
          ./img/section-about-us/about-desktop@2x.webp 2x
        "
        media="(min-width: 1280px) and (max-width: 1440px)"
        width="1180"
        height="470"
      />
      <source
        srcset="
          ./img/section-about-us/about-big.webp    1x,
          ./img/section-about-us/about-big@2x.webp 2x
        "
        media="(min-width: 1440px)"
        width="1340"
        height="470"
      />
      <img
        class="about-us-img"
        src="./img/section-about-us/about-mobile.webp"
        alt="yacht-photo"
        width="335"
        height="395"
      />
    </picture>
  </div>
</section>
