<section class="section section-advantages">
  <div class="container advantages-container">
    <!-- green block -->
    <div class="advantages-content">
      <ul class="advantages-list">
        <li class="advantages-list-item">
          <p class="advantages-number">01</p>
          <div class="advantages-line"></div>
          <p class="advantages-text">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="advantages-list-item">
          <p class="advantages-number">02</p>
          <div class="advantages-line"></div>
          <p class="advantages-text">Fishing: try to catch your own dinner</p>
        </li>
        <li class="advantages-list-item">
          <p class="advantages-number">03</p>
          <div class="advantages-line"></div>
          <p class="advantages-text">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="advantages-list-item">
          <p class="advantages-number">04</p>
          <div class="advantages-line"></div>
          <p class="advantages-text">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ul>
    </div>
    <!-- image -->
    <picture>
      <source
        srcset="
          ./img/advantages/advantages-big-1x.webp 1x,
          ./img/advantages/advantages-big-2x.webp 2x
        "
        media="(min-width: 1440px)"
        width="540"
        height="424"
      />
      <source
        srcset="
          ./img/advantages/advantages-desk-1x.webp 1x,
          ./img/advantages/advantages-desk-2x.webp 2x
        "
        media="(min-width: 1280px)"
        width="432"
        height="424"
      />
      <source
        srcset="
          ./img/advantages/advantages-tab-1x.webp 1x,
          ./img/advantages/advantages-tab-2x.webp 2x
        "
        media="(min-width: 768px)"
        width="704"
        height="424"
      />
      <source
        srcset="
          ./img/advantages/advantages-mob-1x.webp 1x,
          ./img/advantages/advantages-mob-2x.webp 2x
        "
      />
      <img
        class="advantages-img"
        src="./img/advantages/advantages-mob-1x.webp"
        alt="Advantages"
        width="335"
        height="424"
      />
    </picture>
  </div>
</section>
