<header class="header">
  <div class="container">
    <div class="header-container">
      <a class="header-logo" href="./index.html">yachtjet</a>
      <nav>
        <ul class="nav-list">
          <li>
            <a href="#section-about" class="nav-link is-current">About</a>
          </li>
          <li><a href="#section-our-yachts" class="nav-link">Yachts</a></li>
          <li><a href="#section-reviews" class="nav-link">Reviews</a></li>
        </ul>
      </nav>
      <ul class="header-soc-list">
        <li class="header-soc-link">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="header-soc-icon"
            rel="noopener noreferrer"
            aria-label="instagram goit"
          >
            <svg width="24" height="24" class="header-soc-svg">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-link">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="header-soc-icon"
            rel="noopener noreferrer"
            aria-label="youtube goit"
          >
            <svg width="24" height="24" class="header-soc-svg">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-link">
          <a
            href="https://www.facebook.com/goITclub/ "
            target="_blank"
            class="header-soc-icon"
            rel="noopener noreferrer"
            aria-label="facebook goit"
          >
            <svg width="24" height="24" class="header-soc-svg">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button
        type="button"
        class="header-menu-btn"
        aria-label="button menu open"
        data-menu-open
      >
        <svg width="28" height="28" class="header-menu-svg">
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="modal-menu-window" data-menu>
    <div class="modal-menu-wrap">
      <div class="modal-menu-header">
        <a class="header-logo" href="./index.html">yachtjet</a>
        <button
          type="button"
          class="header-menu-btn"
          aria-label="button menu open"
          data-menu-open
        >
          <svg width="28" height="28" class="header-menu-svg">
            <use href="./img/icons.svg#icon-burger-close"></use>
          </svg>
        </button>
      </div>
      <nav>
        <ul class="modal-menu-list-nav">
          <li class="modal-menu-item-nav current">
            <a class="modal-menu-link" href="#section-about" data-menu-close
              >About</a
            >
          </li>
          <li class="modal-menu-item-nav">
            <a
              class="modal-menu-link"
              href="#section-our-yachts"
              data-menu-close
              >Yachts</a
            >
          </li>
          <li class="modal-menu-item-nav">
            <a class="modal-menu-link" href="#section-reviews" data-menu-close
              >Reviews</a
            >
          </li>
        </ul>
      </nav>
      <ul class="modal-menu-social-list">
        <li class="modal-menu-social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="modal-menu-social-svg"
            aria-label="instagram goit"
          >
            <svg width="24" height="24" class="modal-menu-social-svg">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="modal-menu-social-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="modal-menu-social-svg"
            aria-label="youtube goit"
          >
            <svg width="24" height="24" class="modal-menu-social-svg">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="modal-menu-social-item">
          <a
            href=" https://www.facebook.com/goITclub/"
            target="_blank"
            class="modal-menu-social-svg"
            aria-label="facebook goit"
          >
            <svg width="24" height="24" class="modal-menu-social-svg">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
