<section
  id="section-our-yachts"
  class="section section-our-yachts splide"
  aria-label="yacht info carousel"
>
  <div class="container">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <div class="splide__track">
      <ul class="our-yachts-list splide__list">
        <li class="our-yachts-item splide__slide" aria-role="yacht detail card">
          <picture>
            <source
              srcset="
                ./img/section-our-yacht/yaht-desk1-1x.webp 1x,
                ./img/section-our-yacht/yaht-desk1-1x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/section-our-yacht/yaht-tab1-1x.webp 1x,
                ./img/section-our-yacht/yaht-tab1-2x.webp 2x
              "
              media="(min-width: 780px)"
            />
            <source
              srcset="
                ./img/section-our-yacht/yaht-mob-1x.webp 1x,
                ./img/section-our-yacht/yaht-mob-2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/section-our-yacht/yaht-mob-1x.webp"
              alt="yacht1"
              width="302"
              height="240"
            />
          </picture>
          <div class="our-yachts-item-content">
            <div class="our-yachts-features">
              <h3 class="our-yachts-features-title">Arrow</h3>
              <p class="our-yachts-features-p">LUXURY YAHTS</p>
            </div>
            <div class="our-yachts-line-horozontal"></div>
            <ul class="our-yachts-price-list">
              <li class="our-yachts-price-item">
                <p class="our-yachts-options-title">LENGTH</p>
                <p class="our-yachts-options-p">48m(155ft)</p>
              </li>
              <li class="our-yachts-price-item">
                <p class="our-yachts-options-title">BUILDER</p>
                <p class="our-yachts-options-p">Admiral</p>
              </li>
              <li class="our-yachts-price-item">
                <p class="our-yachts-options-title">BUILT</p>
                <p class="our-yachts-options-p">2021</p>
              </li>
              <li class="our-yachts-price-item">
                <p class="our-yachts-options-title">GUESTS</p>
                <p class="our-yachts-options-p">11 in 5 cabins</p>
              </li>
              <li class="our-yachts-price-item">
                <p class="our-yachts-options-title">PRICE</p>
                <p class="our-yachts-options-p">€33,500,000</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="our-yachts-item splide__slide" aria-role="yacht detail card">
          <picture>
            <source
              srcset="
                ./img/section-our-yacht/yaht-desk2-1x.webp 1x,
                ./img/section-our-yacht/yaht-desk2-2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/section-our-yacht/yaht-tab2-1x.webp 1x,
                ./img/section-our-yacht/yaht-tab2-2x.webp 2x
              "
              media="(min-width: 780px)"
            />
            <img
              src="./img/section-our-yacht/yaht-tab2-1x.webp"
              alt="yacht2"
              width="302"
              height="240"
            />
          </picture>
          <div class="our-yachts-item-content">
            <div class="our-yachts-features">
              <h3 class="our-yachts-features-title">BENETTI OASIS 40M BO122</h3>
              <p class="our-yachts-features-p">LUXURY YAHTS</p>
            </div>
            <div class="our-yachts-line-horozontal"></div>
            <ul class="our-yachts-price-list">
              <li class="our-yachts-price-item">
                <p class="our-yachts-options-title">LENGTH</p>
                <p class="our-yachts-options-p">41m (133ft)</p>
              </li>
              <li class="our-yachts-price-item">
                <p class="our-yachts-options-title">SHIPYARD</p>
                <p class="our-yachts-options-p">Benetti</p>
              </li>
              <li class="our-yachts-price-item">
                <p class="our-yachts-options-title">BUILT</p>
                <p class="our-yachts-options-p">2025</p>
              </li>
              <li class="our-yachts-price-item">
                <p class="our-yachts-options-title">GUESTS</p>
                <p class="our-yachts-options-p">10 in 5 cabins</p>
              </li>
              <li class="our-yachts-price-item">
                <p class="our-yachts-options-title">PRICE</p>
                <p class="our-yachts-options-p">€23,210,000</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="our-yachts-item splide__slide" aria-role="yacht detail card">
          <picture>
            <source
              srcset="
                ./img/section-our-yacht/yaht-desk3-1x.webp 1x,
                ./img/section-our-yacht/yaht-desk3-2x.webp 2x
              "
            />
            <img
              src="./img/section-our-yacht/yaht-desk3-1x.webp"
              alt="yacht3"
              width="302"
              height="240"
            />
          </picture>
          <div class="our-yachts-item-content">
            <div class="our-yachts-features">
              <h3 class="our-yachts-features-title">BELLE ANNA</h3>
              <p class="our-yachts-features-p">LUXURY YAHTS</p>
            </div>
            <div class="our-yachts-line-horozontal"></div>
            <ul class="our-yachts-price-list">
              <li class="our-yachts-price-item">
                <p class="our-yachts-options-title">LENGTH</p>
                <p class="our-yachts-options-p">50m(155ft)</p>
              </li>
              <li class="our-yachts-price-item">
                <p class="our-yachts-options-title">SHIPYARD</p>
                <p class="our-yachts-options-p">ISA</p>
              </li>
              <li class="our-yachts-price-item">
                <p class="our-yachts-options-title">BUILT</p>
                <p class="our-yachts-options-p">2012</p>
              </li>
              <li class="our-yachts-price-item">
                <p class="our-yachts-options-title">GUESTS</p>
                <p class="our-yachts-options-p">12 in 6 cabins</p>
              </li>
              <li class="our-yachts-price-item">
                <p class="our-yachts-options-title">PRICE</p>
                <p class="our-yachts-options-p">€21,000,000</p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="splide__pagination"></div>
    <div class="our-yacht-button-wrap">
      <a href="#section-rent" class="button is-secondary">Yacht rental</a>
    </div>
  </div>
</section>
