<section
  id="section-reviews"
  class="section section-reviews splide"
  aria-labelledby="carousel-heading"
>
  <div class="container">
    <h2 id="carousel-heading" class="reviews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-par">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <div class="splide__track">
      <ul class="reviews-list splide__list">
        <li
          class="reviews-list-item splide__slide"
          aria-role="customer review card"
        >
          <img
            class="reviews-list-img"
            srcset="./img/reviews/image.webp 1x, ./img/reviews/image@2x.webp 2x"
            src="./img/reviews/image.webp"
            alt="John Wax"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3 class="reviews-list-title">John Wax</h3>
          <p class="reviews-list-par">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </li>
        <li
          class="reviews-list-item splide__slide"
          aria-role="customer review card"
        >
          <img
            class="reviews-list-img"
            srcset="
              ./img/reviews/image-1.webp    1x,
              ./img/reviews/image@2x-1.webp 2x
            "
            src="./img/reviews/image-1.webp"
            alt="Victoria Romashenko"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3 class="reviews-list-title">Victoria Romashenko</h3>
          <p class="reviews-list-par">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </li>
        <li
          class="reviews-list-item splide__slide"
          aria-role="customer review card"
        >
          <img
            class="reviews-list-img"
            srcset="
              ./img/reviews/image-2.webp    1x,
              ./img/reviews/image@2x-2.webp 2x
            "
            src="./img/reviews/image-2.webp"
            alt="Ihor Trachuk"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3 class="reviews-list-title">Ihor Trachuk</h3>
          <p class="reviews-list-par">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </li>
      </ul>
    </div>
    <div class="splide__pagination"></div>
  </div>
</section>
