.advantages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.advantages-content {
  background-color: #1b414b;
  border-radius: 24px;
  padding: 80px 20px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
}

.advantages-list-item {
  width: 100%;
}

.advantages-number {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #fbfbfb;
}

.advantages-line {
  width: 100%;
  height: 2px;
  background-color: rgba(250, 250, 250, 0.1);
  margin-top: 18px;
  margin-bottom: 18px;
}

.advantages-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 0.8;
}

.advantages-img {
  width: 100%;
}

@media screen and (min-width: 375px) {
  .advantages-content {
    max-width: 295px;
  }

  .advantages-img {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-content {
    max-width: 640px;
    padding: 90px 32px;
  }

  .advantages-img {
    width: 704px;
  }

  .advantages-list {
    column-gap: 32px;
  }

  .advantages-list-item {
    width: calc((100% - 32px) / 2);
  }

  .advantages-number {
    font-size: 32px;
  }

  .advantages-text {
    font-size: 13px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .advantages-content {
    max-width: 716px;
    padding: 90px 50px;
  }

  .advantages-img {
    width: 432px;
  }
}

@media screen and (min-width: 1440px) {
  .advantages-img {
    width: 540px;
  }
}
