.section-hero {
  background-color: rgba(41, 62, 41, 0.7);
  background-image: linear-gradient(
      360deg,
      #11131f 15.05%,
      rgba(17, 19, 31, 0.39) 75.3%,
      rgba(17, 19, 31, 0) 98.27%
    ),
    url(/img/hero/yacht-hero-mobile.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 260px;
  min-height: 552px;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .section-hero {
    background-color: rgba(41, 62, 41, 0.7);
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero/yacht-hero-mobile@2x.webp);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero-main-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 335px;
  margin: 0 auto;
  margin-bottom: 24px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.word {
  transform: translateY(400%);
  transition: transform 0.5s;
}
.hero-small-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  max-width: 335px;
  margin: 0 auto;
  margin-bottom: 38px;
}

/* ---------TABLET------------ */
@media screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero/yacht-hero-tablet.webp);
    padding-top: 280px;
    min-height: 682px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-hero {
      background-image: linear-gradient(
          360deg,
          #11131f 15.05%,
          rgba(17, 19, 31, 0.39) 75.3%,
          rgba(17, 19, 31, 0) 98.27%
        ),
        url(/img/hero/yacht-hero-tablet@2x.webp);
    }
  }
  .hero-main-text {
    font-size: 70px;
    max-width: 704px;
    margin-bottom: 24px;
  }

  .hero-small-text {
    font-size: 16px;
    line-height: 1.4;
    max-width: 597px;
    margin-bottom: 48px;
  }

  .hero-btn {
    font-size: 18px;
    line-height: 1.1;
    padding: 16px 40px;
    min-width: 179px;
  }
}

/* ------DESKTOP-SMALL-SCREEN-------- */
@media screen and (min-width: 1280px) {
  .section-hero {
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero/yacht-hero-desktop.webp);
    padding-top: 0;
    min-height: 800px;
    display: flex;
    align-items: center;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-hero {
      background-image: linear-gradient(
          360deg,
          #11131f 15.05%,
          rgba(17, 19, 31, 0.39) 75.3%,
          rgba(17, 19, 31, 0) 98.27%
        ),
        url(/img/hero/yacht-hero-desktop@2x.webp);
    }
  }
  .hero-main-text {
    font-size: 80px;
    max-width: 1001px;
  }
}

/* ------DESKTOP-LARGE-SCREEN-------- */
@media screen and (min-width: 1440px) {
  .section-hero {
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero/yacht-hero-big.webp);
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-hero {
      background-image: linear-gradient(
          360deg,
          #11131f 15.05%,
          rgba(17, 19, 31, 0.39) 75.3%,
          rgba(17, 19, 31, 0) 98.27%
        ),
        url(/img/hero/yacht-hero-big@2x.webp);
    }
  }
}
